@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins");
body, html {
  height: 100%;
  max-width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

body header {
  padding: 20px;
}

@media (min-width: 840px) {
  body header {
    padding-left: 40px;
    padding-top: 40px;
  }
}

body header img {
  height: 1em;
}

@media (min-width: 840px) {
  body header img header img {
    height: 100px;
  }
}

main {
  padding: 20px;
}

@media (min-width: 840px) {
  main {
    max-width: 100%;
    margin: 0;
    padding: 40px;
  }
  main p {
    margin-left: 27%;
    margin-right: 27%;
    text-align: center;
  }
  main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

main h1 {
  font-family: 'Poppins', sans-serif;
  padding: 35px;
  font-size: 1.2em;
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
}

@media (min-width: 840px) {
  main h1 {
    font-size: 30px;
    padding: 0;
  }
}

main p {
  padding-right: 35px;
  padding-left: 35px;
  text-align: center;
  font-size: 15px;
  color: #808d99;
}

main img {
  display: block;
  max-width: 100%;
  height: auto;
  padding-top: 20px;
}

main form {
  padding: 80px 13px 80px 13px;
}

@media (min-width: 840px) {
  main form {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 40%;
        grid-template-columns: auto 40%;
    grid-gap: 20px;
        grid-template-areas: "p p" "a b";
  }
}

main form h1 {
  text-transform: capitalize;
  font-weight: 700;
}

@media (min-width: 840px) {
  main form h1 {
    grid-area: p;
  }
}

main form input[type=text] {
  display: block;
  -webkit-box-shadow: 0px 0px 0px -1px black;
          box-shadow: 0px 0px 0px -1px black;
  width: 100%;
  height: 2.8em;
  border-radius: 5px;
  margin-bottom: 20px;
}

@media (min-width: 840px) {
  main form input[type=text] {
    grid-area: a;
    max-width: 60%;
    -ms-grid-column-align: end;
        justify-self: end;
    height: 4em;
    padding-left: 20px;
  }
}

main form button {
  display: block;
  background: #ff52bf;
  width: 100%;
  height: 2.8em;
  border: none;
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px -2px black;
          box-shadow: 0px 0px 8px -2px black;
  padding: 0;
}

@media (min-width: 840px) {
  main form button {
    grid-area: b;
    max-width: 40%;
    -ms-grid-column-align: start;
        justify-self: start;
    height: 4em;
  }
}

footer {
  background: #00252e;
  width: 100%;
  margin: 0;
}

@media (min-width: 840px) {
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "aa bb" "cc dd";
  }
  footer .svg {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: aa;
    padding-top: 50px;
    padding-left: 65px;
  }
  footer .icons-block {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: cc;
    padding-left: 80px;
    padding-top: 65px;
  }
  footer .nav {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: bb;
    padding-top: 55px;
  }
  footer .nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    padding-right: 20px;
  }
  footer .nav ul li {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  footer #info {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: dd;
    -ms-grid-column-align: end;
        justify-self: end;
    padding-right: 38px;
  }
}

footer .svg img {
  padding-top: 40px;
  padding-left: 20px;
}

footer .icons-block {
  padding-top: 60px;
  padding-left: 20px;
}

@media (min-width: 840px) {
  footer .icons-block {
    padding-left: 80px;
  }
}

footer .icons {
  width: 30px;
  height: 30px;
}

footer ul {
  color: white;
  list-style-type: none;
  padding-top: 35px;
  padding-left: 20px;
  margin: 0;
}

footer ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

footer ul li a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

footer p {
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-size: 15px;
  padding-top: 50px;
  padding-bottom: 45px;
}
/*# sourceMappingURL=main.css.map */